<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white" style="min-height: 100%;">

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
        <li class="nav-item">
            <button type="button" class="btn btn-primary align-middle" id="btnPassTurn">
                <i class="bi bi-arrow-bar-right"></i>
            </button>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column align-items-center align-items-sm-start pb-4">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4"><img src="~/images/game/board-brawl-logo.png" /></i>
            </a>
        </li>
    </ul>

</div>