<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white" style="min-height: 100%;">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4"><img src="~/images/game/board-brawl-logo.png" /></i>
            </a>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-primary align-middle" id="btnPassTurn">
                <i class="bi bi-arrow-bar-right"></i>
            </button>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column align-items-center align-items-sm-start pb-4">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4"><img src="~/images/game/board-brawl-logo.png" /></i>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4">
                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class=""
                         aria-label="Pass Turn" role="button">
                        <line x1="5" y1="12" x2="19" y2="12" color="rgb(255, 255, 255)" fill="none" stroke="rgb(255, 255, 255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"></line>
                        <polyline points="12 5 19 12 12 19" color="rgb(255, 255, 255)" fill="none" stroke="rgb(255, 255, 255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"></polyline>
                    </svg>
                </i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4"><img src="~/images/game/board-brawl-logo.png" /></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4">
                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class=""
                         aria-label="Pass Turn" role="button">
                        <line x1="5" y1="12" x2="19" y2="12" color="rgb(255, 255, 255)" fill="none" stroke="rgb(255, 255, 255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"></line>
                        <polyline points="12 5 19 12 12 19" color="rgb(255, 255, 255)" fill="none" stroke="rgb(255, 255, 255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"></polyline>
                    </svg>
                </i>
            </a>
        </li>
    </ul>
</div>