@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerBoard

<div style="position: relative;">
    <div class="playerInfo overlay-top w-100" data-plyaer-id="">
        @await Html.PartialAsync("PlayerInfo/_PlayerInfo", Model.Players[1])
    </div>
    <div>
        <video id="focusedPlayerVideo" style="width:100%;" muted></video>
    </div>
</div>