@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerBoard

<div id="focusedPlayer" style="position: relative;">
    <div class="playerInfo overlay-top w-100">
        @{
            var focusedPlayer = Model.Players.FirstOrDefault(i => i.Id == Model.FocusedPlayerId);
        }
        @if (focusedPlayer != null)
        {
            @await Html.PartialAsync("PlayerInfo/_PlayerInfo", focusedPlayer)
        }
    </div>
    <div>
        <video id="focusedPlayerVideo" style="width:100%;" muted></video>
    </div>
</div>