@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model

<div class="text-white">
    <div class="pt-3">
        @await Html.PartialAsync("GamePanel/_CardSearch")
    </div>

    <div>
        @await Html.PartialAsync("GamePanel/_CardSearchHistory")
    </div>
</div>