@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerBoard

<div class="col-3 h-100">
    @await Html.PartialAsync("_PlayerList", Model)
</div>
<div class="col h-100 d-flex">
    <div class="flex-fill align-self-center">
        @await Html.PartialAsync("_FocusedPlayer")
    </div>
</div>


<script>
    var _localVideoStream;

    $(document).ready(function () {
        InitializeLocalVideoStream();
        SetFocusedVideo();

        
    });

    function InitializeLocalVideoStream() 
    {
        var videoElement = $(".localVideo")[0];

        navigator.mediaDevices.getUserMedia({
            audio: true,
            video: true
        }).then(stream => {
            _localVideoStream = stream;

            videoElement.srcObject = stream;
            $(videoElement).on('loadedmetadata', function() {
                videoElement.play();
            });
        })
        .catch(error => {
            if (videoElement) videoElement.style.display = "none";
            var errorImageElement = $('.errorImage[data-player-id="@Model.PlayerId"]')[0];
            errorImageElement.style.display = "block";
        });
    }

    function SetFocusedVideo() {
        var focusedVideoElement = $(".focusedPlayer")[0];
        var focusedPlayerVideo = $('#focusedPlayerVideo')[0];

        if (focusedPlayerVideo.readyState >= focusedPlayerVideo.HAVE_CURRENT_DATA) 
        {
            focusedPlayerVideo.srcObject = focusedVideoElement.srcObject;
            focusedPlayerVideo.play();
        }
        else
        {
            focusedVideoElement.addEventListener('loadedmetadata', function () 
                {
                    focusedPlayerVideo.srcObject = focusedVideoElement.srcObject;
                    focusedPlayerVideo.play();
                });
        }
    }

    function PlayerBoard_LoadRemoteStreams(peer) 
    {
        $(".remoteVideo").each(function () {
            var peerId = $(this).attr("data-peerid");
            
            var call = peer.call(peerId, _localVideoStream);

            if(!call){
                var videoElement = $('.playerVideo[data-peerid="' + peerId + '"]')[0];
                videoElement.style.display = "none";

                var errorImageElement = $('.errorImage[data-peerid="' + peerId +'"]')[0];
                errorImageElement.style.display = "block";
            }
            else{
                call.on("stream", (stream) => {
                    this.srcObject = stream;
                    this.addEventListener('loadedmetadata', () => {
                        this.play();
                    });
                });

                call.on("error", (err) => {
                    console.log("Call error:" + err);
                });

                call.on('close', () => {
                    Endcall(call);
                })
            }
        });
    }

    function EndCall(call) {
        call.close();
    }
</script>