<ul class="dropdown-menu dropdown-menu-dark text-small shadow no-arrow">
    <li><a class="dropdown-item" href="#">Player Order</a></li>
    <li><a class="dropdown-item" href="#">Inputs</a></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item bg-danger" href="#">Close Game</a></li>
</ul>