<ul class="dropdown-menu dropdown-menu-dark text-md shadow no-arrow">
    <li><button class="dropdown-item" id="btnPlayerTurnOrder" data-bs-toggle="modal" data-bs-target="#playerTurnOrderModal">Player Turn Order</button></li>
    <li><button class="dropdown-item">Inputs</button></li>
    <li><button class="dropdown-item">Profile</button></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><button class="dropdown-item bg-danger">Close Game</button></li>
</ul>