@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img id="video-stream" width="640" height="480" />
</div>

<script>
    var videoStream = document.getElementById('video-stream');
    setInterval(function() {
        videoStream.src = '/Video/GetFrame?' + new Date().getTime(); // Add timestamp to prevent caching
        }, 30); // Set interval to match the desired frame rate (e.g., 30 fps)
</script>
