<script src="~/js/signalr/dist/browser/signalr.js"></script>

@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <h1>@ViewBag.GameName</h1>
</div>

<button id="btnRefreshPlayers">Refresh</button>

<div id="playerListContainer">
    @*TODO:Render a view component or partial here instead of waiting until the page is loaded on the client and sending a second request*@
</div>


@section Scripts
{
    <script>
        const _gameHubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/GameHub").build();

        _gameHubConnection.on("OnPlayerJoined", function (userId) {
            refreshPlayersList();
        });

        JoinGameHub();

        $(document).ready(function () {
            refreshPlayersList();

            $('#btnRefreshPlayers').click(function () {
                refreshPlayersList();
            });
        });

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@ViewBag.GameId');
        }

        function refreshPlayersList() {
            $.ajax({
                url: '/Game/Home/PlayerListPartial/@ViewBag.GameId',
                success: function (html) {
                    $('#playerListContainer').html(html);
                }
            });
        }
    </script>
}