@using SpellTable2.WebApp.MVC.Areas.Game.Models;
@model Model;

<script src="~/js/signalr/dist/browser/signalr.js"></script>

@{
    ViewData["Title"] = Model.GameName;
}

<div class="text-center">
    <h1>@Model.GameName</h1>
</div>

<button id="btnRefreshPlayers">Refresh</button>

<div id="playerListContainer">
    @await Component.InvokeAsync("PlayerList", new {gameId = Model.GameId})
</div>


@section Scripts
{
    <script>
        //Fields
        var _gameHubConnection;

        //Initialization
        InitializeGameHubConnection();
        JoinGameHub();

        $(document).ready(function () {
            $('#btnRefreshPlayers').click(function () {
                btnRefreshPlayers_Clicked();
            });
        });

        function InitializeGameHubConnection() {
            _gameHubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/GameHub").build();

            _gameHubConnection.on("OnPlayerJoined", function (userId) {
                OnPlayerJoinedGame(userId);
            });

            _gameHubConnection.on("OnPlayerInfoChanged", function (userId) {
                OnPlayerInfoChanged(userId);
            });
        }

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@Model.GameId');
        }

        //Game hub events
        function OnPlayerJoinedGame(userId) 
        {
            RefreshPlayersList();
        }

        function OnPlayerInfoChanged(userId) 
        {
            PlayerList_RefreshPlayerInfo(userId);
        }

        //Control events
        function btnRefreshPlayers_Clicked()
        {
            RefreshPlayersList();
        }

        //Methods
        function RefreshPlayersList() 
        {
            $.ajax({
                url: '/Game/Home/PlayerList/@Model.GameId',
                success: function (html) {
                    $('#playerListContainer').html(html);
                }
            });
        }
    </script>
}