@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <h1 class="display-4">Game</h1>
    <h3>@ViewBag.GameName</h3>
    <h3>User Id - @ViewBag.UserId</h3>
</div>

<button id="btnRefreshPlayers">Refresh</button>

<div id="playerListContainer">

</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            refreshPlayersList();

            $('#btnRefreshPlayers').click(function () {
                refreshPlayersList();
            });
        });

        function refreshPlayersList() {
            $.ajax({
                url: '/Game/Home/PlayerListPartial',
                success: function (html) {
                    $('#playerListContainer').html(html);
                }
            });
        }
    </script>
}