<script src="~/js/signalr/dist/browser/signalr.js"></script>

@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <h1>@ViewBag.GameName</h1>
</div>

<button id="btnRefreshPlayers">Refresh</button>

<div id="playerListContainer">
    @await Component.InvokeAsync("PlayerList", new {gameId = ViewBag.gameId})
    @*TODO:Render a view component or partial here instead of waiting until the page is loaded on the client and sending a second request*@
</div>


@section Scripts
{
    <script>
        //Fields
        var _gameHubConnection;

        //Initialization
        InitializeGameHubConnection();
        JoinGameHub();

        $(document).ready(function () {
            $('#btnRefreshPlayers').click(function () {
                btnRefreshPlayers_Clicked();
            });
        });

        function InitializeGameHubConnection() {
            _gameHubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/GameHub").build();

            _gameHubConnection.on("OnPlayerJoined", function (userId) {
                OnPlayerJoinedGame(userId);
            });

            _gameHubConnection.on("OnPlayerInfoChanged", function (userId) {
                OnPlayerInfoChanged(userId);
            });
        }

        async function JoinGameHub()
        {
            await _gameHubConnection.start();
            await _gameHubConnection.invoke("JoinGameHub", '@ViewBag.GameId');
        }

        //Game hub events
        function OnPlayerJoinedGame(userId) 
        {
            RefreshPlayersList();
        }

        function OnPlayerInfoChanged(userId) 
        {
            //TODO:Don't refresh the entire player list, just the element that contains the player info
            RefreshPlayersList();
        }

        //Control events
        function btnRefreshPlayers_Clicked()
        {
            RefreshPlayersList();
        }

        //Methods
        function RefreshPlayersList() 
        {
            $.ajax({
                url: '/Game/Home/PlayerList/@ViewBag.GameId',
                success: function (html) {
                    $('#playerListContainer').html(html);
                }
            });
        }
    </script>
}