@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <h1>@ViewBag.GameName</h1>
</div>

<button id="btnRefreshPlayers">Refresh</button>

<div id="playerListContainer">
    @*TODO:Render a view component or partial here instead of waiting until the page is loaded on the client and sending a second request*@
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            refreshPlayersList();

            $('#btnRefreshPlayers').click(function () {
                refreshPlayersList();
            });
        });

        function refreshPlayersList() {
            $.ajax({
                url: '/Game/Home/PlayerListPartial/@ViewBag.GameId',
                success: function (html) {
                    $('#playerListContainer').html(html);
                }
            });
        }
    </script>
}