@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerBoard

<div id="focusedPlayer" style="position: relative;">
    <div class="playerInfo overlay-top w-100">

    </div>
    <div>
        <video playsinline id="focusedPlayerVideo" style="width:100%;" muted></video>
    </div>
</div>