@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerInfo


@Model.PlayerName <button data-userid="@Model.UserId" class="btnDecreaseLife">-</button>@Model.LifeTotal<button data-userid="@Model.UserId" class="btnIncreaseLife">+</button>

