@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model

<div class="">
    <div class="text-center m-3">
        <span class="fst-italic">Last card</span>
    </div>
    <div>
        <img src="@Model.GamePanel.LastCard?.CardInfo?.ImageUri" class="w-100" />
    </div>
</div>
