@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model

<div class="">
    <div class="text-center p-3">
        <span class="fst-italic">Last card</span>
    </div>
    <div>
        @{
            var lastCard = Model.GamePanel.CardHistory.FirstOrDefault();
        }

        <img src="@lastCard?.CardInfo.ImageUri" class="w-100" />
    </div>
</div>
