@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model

<div class="">
    <div class="text-center m-3">
        <span class="fst-italic">Last card</span>
    </div>
    <div>
        @{
            var title = @Model.GamePanel.LastCard != null ? $"<img src='{Model.GamePanel.LastCard.CardInfo?.ImageUri}' alt='Card Image' class='card-tooltip-image' />" : "";
        }
        <img src="@Model.GamePanel.LastCard?.CardInfo?.ImageUri" class="w-100 card-tooltip" title="@title"  />
    </div>
</div>
