@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model

<style>
    .card-history-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .card-history-container img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        margin-bottom: -105%; /* Adjust the negative margin to control the overlap */
    }
</style>

<div class="card-history-container">
    @foreach (var card in Model.GamePanel.CardHistory)
    {
        <img src="@card.CardInfo.ImageUri" />
    }
</div>