@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model Model

<style>
    .card-history-container {
        display: grid;
        grid-template-columns: 1fr; /* Adjust the number of columns as needed */
        grid-auto-rows: 1fr; /* Adjust the row size as needed */
        position: relative; /* Needed for positioning the remove button */
    }

    .card-history-item {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        margin-bottom: -105%; /* Adjust the negative margin to control the overlap */
    }

    .btn-remove-card {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 2px;
        opacity: 0; /* Initially hidden */
        transition: opacity 0.3s ease;
    }

    .card-history-item:hover .btn-remove-card {
        opacity: 1; /* Show on hover */
    }
</style>

<div class="card-history-container">
    @foreach (var card in Model.GamePanel.CardHistory)
    {
        <div class="card-history-item">
            <img src="@card.CardInfo.ImageUri" class="w-100" />
            <button class="btn-remove-card btn btn-danger btn-xs bi-trash shadow-none"></button>
        </div>
    }
</div>