html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Fix for jquery-ui auto complete on a pop-up*/
ul.ui-autocomplete {
    z-index: 9999;
}

.text-xs {
    font-size: .75rem;
}