@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model List<CommanderDamage>

<div class="card">
    <div class="card-header">
        <h6>@Model.FirstOrDefault()?.OwnerPlayerName</h6>

        <div>
            @foreach(var commanderDamage in Model)
            {
                @await Html.PartialAsync("PlayerInfo/_CommanderDamageTracker", commanderDamage);
            }
        </div>
    </div>
</div>