@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model PlayerInfo

@foreach(var ownerPlayerId in Model.CommanderDamages.Keys)
{
    if (Model.CommanderDamages[ownerPlayerId].Any())
    {
        <div>
            @await Html.PartialAsync("PlayerInfo/_CommanderDamageTrackerContainer", Model.CommanderDamages[ownerPlayerId])
        </div>
    }
}