@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerInfo;

<style>
    #infectSlider .ui-slider-handle {
        display: none;
    }
</style>

<div class="card">
    <div class="card-header">
        <h5>@Model.PlayerName</h5>
    </div>

    <div class="card-body py-2">
        @await Html.PartialAsync("PlayerInfo/_CommanderInputs", Model)
    </div>

    <div class="card-footer">
        <div class="pb-2">
            <small class="fst-italic text-muted">Damage totals</small>
        </div>

        <div class="commanderDamages" data-player-id="@Model.Id">
            @await Html.PartialAsync("PlayerInfo/_CommanderDamages", Model)
        </div>

        <div>
            @await Html.PartialAsync("PlayerInfo/_InfectTracker")
        </div>
    </div>
</div>