@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model PlayerInfo

@if (Model.IsSelf)
{
    <button class="shadow-none text-white btn btn-transparent btn-sm btnAdjustLifeTotal btn-player-counter"
            data-player-id="@Model.Id" data-amount="-1">
        -
    </button>
}

@Model.LifeTotal

@if (Model.IsSelf)
{
    <button class="shadow-none btn text-white btn-transparent btn-sm btnAdjustLifeTotal btn-player-counter"
            data-player-id="@Model.Id" data-amount="1">
        +
    </button>
}