@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model PlayerInfo

<button data-userid="@Model.UserId" class="shadow-none text-white btn btn-transparent btn-sm btnDecreaseLife btn-player-counter">-</button>
@Model.LifeTotal
<button data-userid="@Model.UserId" class="shadow-none btn text-white btn-transparent btn-sm btnIncreaseLife btn-player-counter">+</button>