@using BoardBrawl.WebApp.MVC.Areas.Game.Models;
@model PlayerInfo


<div class="d-flex text-white mb-2">
    <div class="playerLifeTotal align-self-center" data-player-id="@Model.Id">
        @await Html.PartialAsync("PlayerInfo/_PlayerLifeTotal", Model)
    </div>
    <div class="ml-2 flex-grow-1 " style="font-size: 12px;">
        <div>
            @if (Model.IsGameOwner)
            {
                <i class="bi bi-star-fill pe-1" data-bs-toggle="tooltip" title="Game Owner"></i>
            }
            <span>@Model.PlayerName</span>
        </div>

        <div>
            <div class="dropdown playerInfoDropdown">
                <div id="commanderInfo@(Model.Id)" class="dropdown-toggle no-arrow shadow-none fst-italic" data-bs-auto-close="outside" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @await Html.PartialAsync("PlayerInfo/_CommanderInfo", Model)
                </div>

                <div class="dropdown-menu py-0 keepopen" style="width:500px" aria-labelledby="commanderInfo@(Model.Id)">
                    @await Html.PartialAsync("PlayerInfo/_PlayerInfoDropdown", Model)
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <button type="button" class="btn btn-outline-secondary btn-xs dropdown-toggle no-arrow" data-bs-toggle="dropdown"
                data-boundary="#main" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-gear"></i>
        </button>
        @await Html.PartialAsync("PlayerInfo/_PlayerMenu", Model.PlayerMenu)
    </div>
</div>