@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model PlayerMenu

<ul class="dropdown-menu dropdown-menu-dark shadow no-arrow text-sm">
    <li>
        <button class="dropdown-item btnPromoteToGameOwner @(!Model.CanBeMadeGameOwner ? "disabled" : "")" data-player-id="@Model.PlayerId">
            Promote to Game Owner
        </button>
    </li>
</ul>