@using BoardBrawl.WebApp.MVC.Areas.Game.Models
@model PlayerMenu

<ul class="dropdown-menu dropdown-menu-dark text-small shadow no-arrow">
    @if(Model.CanBeMadeGameOwner)
    {
        <li><button class="dropdown-item">Promote to Game Owner</button></li>
    }
</ul>