<form action="/Home/SelectCommander" method="post">

    <label for="commanderName">Name:</label>
    <input id="commanderName" name="Name">

    <button type="submit" class="btn btn-primary" id="btnOk">Select commander</button>
</form>

@section Scripts
{
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script>
        $(function () {
            var cache = {};
            $("#commanderName").autocomplete({
                minLength: 1,
                source: function (request, response) {
                    var term = request.term;
                    if (term in cache) {
                        response(cache[term]);
                        console.log("Cache hit - " + term + " | Cache count: " + Object.keys(cache).length);
                        return;
                    }

                    console.log("cache miss - " + term);

                    $.getJSON("/Home/SearchCommanders", { searchString: term }, function (data, status, xhr) {
                        cache[term] = data;
                        response(data);
                    });
                }
            });
        });
    </script>
}
