@{
    ViewData["Title"] = "Home Page";
}

<div id="root">
    <div id="leftSideBar">
        <img alt="Logo" />
        <img alt="Pass the turn (spacebar)" role="button"/>
        <img alt="Mute" role="button" />
        <img alt="Stop Video" role="button" />
        <img alt="separator" />
        <img alt="Toggle to focused layout" role="button" />
        <img alt="Toggle to four corner layout" role="button" />
        <img alt="Toggle to picture in picture layout" role="button" />
        <img alt="Hide Game Panel" role="button" />
        <img alt="separator" />
        <img alt="Invite Players" role="button" />
        <img alt="Settings" role="button" />
        <img alt="Roll Dice or Flip a Coin" role="button" />
        <img alt="separator" />
        <img alt="Keyboard Shortcuts" role="button" />
        <img alt="View FAQ" role="button" />
        <img alt="View Onboarding" role="button" />
        <img alt="separator" />
        <img alt="Player Icon" role="button" />

    </div>

    <div id="main">

    </div>

    <div id="rightSideBar">

    </div>
</div>