@using SpellTable2.WebApp.MVC.Areas.Game.Models;
@model PlayerInfo


@Model.PlayerName <button id="btnDecreaseLife@(Model.UserId)">-</button>@Model.LifeTotal<button id="btnIncreaseLife@(Model.UserId)">+</button>

