<script src="~/js/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/signalr/dist/browser/signalr.min.js"></script>*@

<h1 style="text-align: center">@ViewBag.roomId</h1>

<script>
    var _connection = null;

    InitializeSignalRConnection();
    JoinRoom();

    function InitializeSignalRConnection()
    {
        _connection = new signalR.HubConnectionBuilder().withUrl("/meeting").build();
    }

    async function JoinRoom()
    {
        await _connection.start();
        await _connection.invoke("JoinRoom", '@ViewBag.roomId', '10');

        _connection.on('user-connected', id => {
            console.log(`User connected : ${id}`)
        });
    }
</script>