<script src="~/js/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/signalr/dist/browser/signalr.min.js"></script>*@
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

<h1 style="text-align: center">@ViewBag.roomId</h1>
<video id="local-video" muted></video>
<video id="remote-video"></video>

<script>
    var _connection = null;
    var _peerJsObject;
    var _peerJsConnectionId;
    var _localVideoStream;
    var _currentCall;

    InitializeSignalRConnection();
    InitializeLocalVideoStream();
    JoinRoom();


    function InitializeSignalRConnection()
    {
        _connection = new signalR.HubConnectionBuilder().withUrl("/meeting").build();
    }

    async function JoinRoom()
    {
        _peerJsObject = new Peer();

        _peerJsObject.on('open', id =>{
            OnPeerJsOpen(id);
        });
    }

    async function OnPeerJsOpen(peerJsConnectionId)
    {
        console.log('Peer Js Opened: ' + peerJsConnectionId);

        _peerJsConnectionId = peerJsConnectionId;

        await _connection.start();
        await _connection.invoke("JoinRoom", '@ViewBag.roomId', _peerJsConnectionId);

        _connection.on('user-connected', id => {
            console.log(`Another user connected : ${id}`);
            CallUser(id);
        });

        _peerJsObject.on("call", (call) => {
            AnswerCall(call);
        });
    }

    function InitializeLocalVideoStream() 
    {
        navigator.mediaDevices.getUserMedia({
            audio: true,
            video: true
        }).then(stream => {
            _localVideoStream = stream;
            var videoElement = document.getElementById("local-video");

            videoElement.srcObject = stream;
            videoElement.addEventListener('loadedmetadata', () => {
                videoElement.play()
            })
        })
    }

    async function CallUser(userId) 
    {
        // make the call
        _currentCall = _peerJsObject.call(userId, _localVideoStream);

        _currentCall.on("stream", (stream) => {
            AddRemoteStream(stream);
        });

        _currentCall.on("data", (stream) => {
            document.querySelector("#remote-video").srcObject = stream;
        });

        _currentCall.on("error", (err) => {
            console.log(err);
        });

        _currentCall.on('close', () => {
            endcall();
        })
    }

    function AnswerCall(call)
    {
        console.log('Answering call');

        call.answer(_localVideoStream);

        call.on("stream", (remoteStream) => {
            AddRemoteStream(remoteStream);
        });
    }

    function EndCall() 
    {
        console.log('Ending call');

        _currentCall.close();
        _currentCall = undefined;
    }

    function AddRemoteStream(remoteStream)
    {
        var remoteVideoElemtn = document.getElementById("remote-video");

        remoteVideoElemtn.srcObject = remoteStream;
        remoteVideoElemtn.addEventListener('loadedmetadata', () => {
            remoteVideoElemtn.play();
        });
    }
</script>